<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Update Password</title>
</head>
<body>
    <form action="/update_password/" method="POST">
        <h1>Update Password for Service "{{ password.service_name }}"</h1>
        <label for="new-password">New Password</label>
        <br>
        <input type="password" id="new-password" name="new_password" required>
        <br>
        <label for="confirm-password">Confirm New Password</label>
        <br>
        <input type="password" id="confirm-password" name="confirm_password" required>
        <br>
        <input type="hidden" name="password_id" value="{{ password.password_id }}">
        <button type="submit">Update Password</button>
    </form>
</body>
</html>
