<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Register New User</title>
</head>

<body>
    <form method="POST" action="/user_registration">
        <h1>Register New User</h1>
        <label>Username:</label>
        <br>
        <input type="text" name="username" required>
        <br>
        <br>

        <label>Password:</label>
        <br>
        <input type="password" name="password" required>
        <br>
        <br>

        <label>Access Level:</label>
        <br>
        <input type="number" id="access_level" name="access_level" min="1" max="5" step="1" value="1">
        <br>
        <br>

        <button type="submit">Create User</button>
    </form>
</body>

</html>